/*NEW CUSTOM 23-1-17*/
/********************/
/*color*/
/********************/
/*Mixins*/
/********************/
body {
  background-image: url(../images/body-bg.jpg);
  background-repeat: repeat;
  font: 14px/1.35 OpenSans, Helvetica, sans-serif;
}

.wrapper-content {
  background: none;
}

.img-responsive {
  max-width: 100%;
  display: inline-block;
  height: auto;
}

/********************/
.header-container {
  background-image: url(../images/body-bg.jpg);
  background-repeat: repeat;
}
.header-container .header {
  max-width: 1180px;
}

.header_row1 {
  display: flex;
  height: auto;
}
.header_row1 .col-left {
  margin-top: 0;
}
.header_row1 .col-right {
  margin-left: auto;
  flex-basis: 65%;
  margin-top: 10px;
}

.header-container .right-top {
  border-bottom: 1px solid #d7d4c5;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  margin-bottom: 25px;
  align-items: center;
}

.header .welcome-msg {
  color: #212121;
  font-size: 13px;
  padding: 0;
  margin-right: 0;
  position: relative;
  font-family: OpenSans-Semibold;
}
.header .welcome-msg:after {
  content: "|";
  padding-left: 15px;
}
.header .links {
  padding: 0;
}
.header .links a {
  color: #212121;
  font-size: 13px;
  font-family: OpenSans-Semibold;
}
.header .links a:hover {
  text-decoration: none;
  color: #3e7927;
}
.header .right-top .login_link {
  padding: 0;
}
.header .login_link li {
  padding: 0 17px;
  position: relative;
}
.header .login_link li:last-child {
  padding-right: 0;
}
.header .login_link li:last-child:after {
  display: none;
}
.header .login_link li:after {
  content: "|";
  position: absolute;
  right: 0;
}

.right-top .store-switcher {
  font-size: 13px;
}
.right-top .toolbar-dropdown {
  display: none;
}
.right-top .store-switcher {
  width: auto;
  display: flex;
  align-items: center;
  padding-right: 5px;
  margin-right: 15px;
  position: relative;
  font-family: OpenSans-Semibold;
}
.right-top .store-switcher:after {
  content: "|";
  position: absolute;
  right: 0;
}
.right-top .store-switcher .your-country {
  color: #212121;
}
.right-top .toolbar-title #select-store {
  display: block !important;
  color: #212121;
  padding: 0;
  font-family: OpenSans-Bold;
}

.right-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/*Search*/
#search_mini_form {
  flex-grow: 2;
  margin-right: 30px;
}

.header .form-search {
  background: none;
  width: 100%;
  background: transparent;
  margin: 0;
  float: none;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #3e7927;
}
.header .form-search input.input-text {
  height: 43px;
  width: 100%;
  font-size: 13px;
  font-style: italic;
  color: #3e7927;
  padding: 0 20px;
}
.header .form-search button {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 43px;
  height: 43px;
  background: #3e7927;
  border-left: 1px solid #3e7927;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.header .form-search button span {
  height: auto;
}
.header .form-search button span span {
  background: none;
  text-indent: 0;
  font-size: 0;
  width: auto;
  height: auto;
}
.header .form-search button span span:after {
  font-family: FontAwesome;
  content: "\f002";
  font-size: 16px;
  color: #ffffff;
  text-indent: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.header .form-search button:hover {
  background: transparent;
}
.header .form-search button:hover span span:after {
  color: #3e7927;
}
.header .form-search input.input-text:-webkit-input-placeholder, .header .form-search input.input-text:-moz-placeholder, .header .form-search input.input-text:-ms-input-placeholder, .header .form-search input.input-text:-moz-placeholder {
  font-style: italic;
  color: #3a7523;
}

.store_view .shipping_call {
  display: none;
}

/*Mini cart*/
.div_link-cart {
  flex-grow: 1;
}
.div_link-cart a.top-link-cart {
  background: none;
  display: flex;
  height: 43px;
  align-items: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #b4cc34;
  color: #ffffff;
  padding: 0 20px;
  justify-content: center;
  font-size: 16px;
  box-shadow: 2px 2px 2px #d7d4c5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.div_link-cart a.top-link-cart:hover {
  text-decoration: none;
  background: #3e7927;
}

/*Menu*/
ul.menu {
  display: block;
  width: 100%;
  background-image: url(../images/menu-bg.png);
  height: 56px;
  background-position: 0 0;
  margin: 0;
  background-repeat: repeat-x;
  text-align: center;
}
ul.menu li.submenu {
  height: auto;
  line-height: unset;
  float: none;
  background: none;
  margin: 0 20px;
  padding: 0;
  display: inline-block;
}
ul.menu li.submenu a.drop.level-top {
  height: auto;
  line-height: unset;
  padding: 18px 0;
}

/*Main Content*/
.main-banner-top {
  margin: 30px 0;
}

/*Feature Product*/
.widget.em-widget-featured-products-grid .widget-title h2 {
  font-size: 40px;
  font-family: Raleway-ExtraBold;
  color: #3e7927;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 40px;
}
.widget.em-widget-featured-products-grid .widget-title h2:after {
  content: "";
  min-width: 300px;
  height: 4px;
  background: #3e7927;
  position: absolute;
  bottom: 0;
  left: calc((100% - 300px)/2);
}

/*Brand slider*/
.content-slideshow-footer.brand-slider {
  background: #ffffff;
  margin: 50px 0;
  padding: 25px 0;
  border: 0;
}
.content-slideshow-footer.brand-slider .slideshow-box {
  border: 0;
  margin: 0 40px;
}
.content-slideshow-footer.brand-slider li img {
  filter: grayscale(100%);
  /* Current draft standard */
  -webkit-filter: grayscale(100%);
  /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  /* IE6+ */
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-slideshow-footer.brand-slider li:hover img {
  filter: grayscale(1);
  filter: none;
  opacity: 1;
}

/*Brand slider*/
.home-accessories {
  margin: 50px 0;
  padding: 15px;
  background: #ffffff;
}
.home-accessories .widget-title {
  text-align: left;
  padding: 40px 10px 20px;
}
.home-accessories .widget-title h2 {
  margin: 0;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.home-accessories .jcarousel-next {
  border-left: 0;
}
.home-accessories .jcarousel-prev:after {
  content: "/";
  font-size: 30px;
  position: absolute;
  right: -4px;
  top: -11px;
}
.home-accessories #products-by-category .jcarousel-clip-horizontal {
  overflow: hidden;
}
.home-accessories #products-by-category .products-grid li {
  padding: 10px;
  margin: 0;
  border: 0;
  width: auto;
}
.home-accessories #products-by-category .products-grid li .product-name {
  margin-top: 20px;
}
.home-accessories #products-by-category .products-grid li .product-name a {
  font-size: 16px;
  color: #010101;
  font-weight: 400;
  text-transform: capitalize;
  word-wrap: break-word;
}
.home-accessories #products-by-category .products-grid li .product-name a:hover {
  color: #3e7927;
}
.home-accessories #products-by-category .products-grid li .price-box .price {
  font-size: 16px;
}

.home-banner a {
  float: none;
  margin: 0;
}
.home-banner a:first-child {
  float: none;
}

/*Footer*/
.wrapper-footer {
  background: none;
}
.wrapper-footer .container_24 {
  border-top: 1px solid #a8a69a;
}
.wrapper-footer .info-container {
  padding: 0;
}
.wrapper-footer .footer-col {
  padding: 0;
}
.wrapper-footer .footer-col .footer-title {
  font-size: 15px;
  color: #000000;
  font-family: "OpenSans-Bold";
}
.wrapper-footer .footer-col .footer-link {
  list-style: inherit;
  list-style-type: disc;
}
.wrapper-footer .footer-col .footer-link li {
  background: none;
  line-height: unset;
  padding: 0;
  margin: 10px 0 10px 20px;
}
.wrapper-footer .footer-col .footer-link li a {
  color: #222222;
  font-size: 14px;
}
.wrapper-footer .blog-container {
  padding: 0;
}
.wrapper-footer .payment-method {
  margin: 0;
}
.wrapper-footer .follow-us {
  background: none;
  display: none;
}
.wrapper-footer .footer-end {
  display: none;
}
.wrapper-footer .footer-container {
  border-top: 0;
}

/*responsive*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header_row1 {
    width: auto;
    padding: 0 10px;
  }
  .header_row1 .col-right {
    flex-basis: 70%;
  }
  .header_row1 .col-right .right-top {
    display: block;
    width: 100%;
    float: right;
    clear: both;
  }
}

/*# sourceMappingURL=styles_layout-custom.css.map */