<?xml version="1.0"?>
<config>
    <modules>
        <EM_Em0059settings>
            <version>0.1.0</version>
        </EM_Em0059settings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <em0059>
                                            <title>Image Configure</title>
                                        </em0059>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <routers>
            <em0059settings>
                <use>standard</use>
                <args>
                    <module>EM_Em0059settings</module>
                    <frontName>em0059settings</frontName>
                </args>
            </em0059settings>
        </routers>
        <layout>
            <updates>
                <em0059settings>
                    <file>em0059settings.xml</file>
                </em0059settings>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<em0059settings>
				<use>admin</use>
				<args>
					<module>EM_Em0059settings</module>
					<frontName>em0059settings</frontName>
				</args>
			</em0059settings>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Em0059settings>
							<title>em0059settings Module</title>
							<sort_order>10</sort_order>
						</EM_Em0059settings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0059settings>
					<file>em0059settings.xml</file>
				</em0059settings>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <em0059settings>
                <class>EM_Em0059settings_Model</class>
                <resourceModel>em0059settings_mysql4</resourceModel>
            </em0059settings>
            <em0059settings_mysql4>
                <class>EM_Em0059settings_Model_Mysql4</class>
                <entities>
                    <em0059settings>
                        <table>em0059settings</table>
                    </em0059settings>
                </entities>
            </em0059settings_mysql4>
        </models>
        <resources>
            <em0059settings_setup>
                <setup>
                    <module>EM_Em0059settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </em0059settings_setup>
			<!--mobile_setup>
                <setup>
                    <module>EM_Em0059settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobile_setup-->
            <em0059settings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </em0059settings_write>
            <em0059settings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </em0059settings_read>
        </resources>
        <blocks>
            <em0059settings>
                <class>EM_Em0059settings_Block</class>
            </em0059settings>
        </blocks>
        <helpers>
            <em0059settings>
                <class>EM_Em0059settings_Helper</class>
            </em0059settings>
        </helpers>
    </global>
	<default>
		<em0059>
			<image_category>
				<grid_thumb_width>160</grid_thumb_width>
				<grid_thumb_height>180</grid_thumb_height>
				<listing_thumb_width>160</listing_thumb_width>
				<listing_thumb_height>165</listing_thumb_height>
			</image_category>
			<image_product>
				<base_image_width>315</base_image_width>
                <base_image_height>350</base_image_height>
                <thumb_base_width>70</thumb_base_width>
				<thumb_base_height>75</thumb_base_height>
			</image_product>
			<image_related>
				<related_width>160</related_width>
                <related_height>180</related_height>
			</image_related>
			<image_crossell>
                <crosssell_width>160</crosssell_width>
				<crosssell_height>180</crosssell_height>
			</image_crossell>
			<image_upsell>
				<upsell_width>160</upsell_width>
                <upsell_height>180</upsell_height>
			</image_upsell>
            <image_featured>
                <featured_width>160</featured_width>
				<featured_height>205</featured_height>
			</image_featured>
            <image_tabs>
                <tabs_width>160</tabs_width>
				<tabs_height>205</tabs_height>
			</image_tabs>
            <image_editor_pick>
                <editor_pick_width>85</editor_pick_width>
				<editor_pick_height>85</editor_pick_height>
			</image_editor_pick>		
            <image_lastest_review>
                <lastest_review_width>75</lastest_review_width>
				<lastest_review_height>85</lastest_review_height>
			</image_lastest_review>
            <image_shopping_cart>
                <shopping_cart_width>70</shopping_cart_width>
				<shopping_cart_height>72</shopping_cart_height>
			</image_shopping_cart>
            <image_background>
				<grid_thumb_bgcolor>#FFF</grid_thumb_bgcolor>
                <listing_thumb_bgcolor>#FFF</listing_thumb_bgcolor>
				<base_image_bgcolor>#FFF</base_image_bgcolor>
                <thumb_base_bgcolor>#FFF</thumb_base_bgcolor>
				<related_bgcolor>#FFF</related_bgcolor>
                <crosssell_bgcolor>#FFF</crosssell_bgcolor>
				<upsell_bgcolor>#FFF</upsell_bgcolor>
                <featured_bgcolor>#FFF</featured_bgcolor>
                <tabs_bgcolor>#FFF</tabs_bgcolor>
                <editor_pick_bgcolor>#FFF</editor_pick_bgcolor>
                <lastest_review_bgcolor>#FFF</lastest_review_bgcolor>
                <shopping_cart_bgcolor>#FFF</shopping_cart_bgcolor>
			</image_background>
			<column_count>
				<cat_one_column>4</cat_one_column>
				<cat_two_columns>3</cat_two_columns>
				<cat_three_columns>2</cat_three_columns>
				<default_cat_column_count>3</default_cat_column_count>
			</column_count>
		</em0059>
	</default>
</config>