<?xml version="1.0"?>
<config>
    <modules>
        <EM_Productsbycategory>
            <version>0.1.0</version>
        </EM_Productsbycategory>
    </modules>
    <frontend>
        <routers>
            <productsbycategory>
                <use>standard</use>
                <args>
                    <module>EM_Productsbycategory</module>
                    <frontName>productsbycategory</frontName>
                </args>
            </productsbycategory>
        </routers>
        <layout>
            <updates>
                <productsbycategory>
                    <file>productsbycategory.xml</file>
                </productsbycategory>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<productsbycategory>
				<use>admin</use>
				<args>
					<module>EM_Productsbycategory</module>
					<frontName>productsbycategory</frontName>
				</args>
			</productsbycategory>
        </routers>
    </admin>   
    <global>
        <models>
            <productsbycategory>
                <class>EM_Productsbycategory_Model</class>
                <resourceModel>productsbycategory_mysql4</resourceModel>
            </productsbycategory>
            <productsbycategory_mysql4>
                <class>EM_Productsbycategory_Model_Mysql4</class>
                <entities>
                    <productsbycategory>
                        <table>productsbycategory</table>
                    </productsbycategory>
                </entities>
            </productsbycategory_mysql4>
        </models>
        <resources>
            <productsbycategory_setup>
                <setup>
                    <module>EM_Productsbycategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productsbycategory_setup>
            <productsbycategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productsbycategory_write>
            <productsbycategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productsbycategory_read>
        </resources>
        <blocks>
            <productsbycategory>
                <class>EM_Productsbycategory_Block</class>
            </productsbycategory>
        </blocks>
        <helpers>
            <productsbycategory>
                <class>EM_Productsbycategory_Helper</class>
            </productsbycategory>
        </helpers>
    </global>
</config>