<?xml version="1.0"?>
<config>
    <modules>
        <EM_Topratingproducts>
            <version>0.1.0</version>
        </EM_Topratingproducts>
    </modules>
    <frontend>
        <routers>
            <topratingproducts>
                <use>standard</use>
                <args>
                    <module>EM_Topratingproducts</module>
                    <frontName>topratingproducts</frontName>
                </args>
            </topratingproducts>
        </routers>
        <layout>
            <updates>
                <topratingproducts>
                    <file>topratingproducts.xml</file>
                </topratingproducts>
            </updates>
        </layout>
    </frontend>
	<!--
    <admin>
        <routers>
			<topratingproducts>
				<use>admin</use>
				<args>
					<module>EM_Topratingproducts</module>
					<frontName>topratingproducts</frontName>
				</args>
			</topratingproducts>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<topratingproducts module="topratingproducts">
				<title>Topratingproducts</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="topratingproducts">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>topratingproducts/adminhtml_topratingproducts</action>
					</items>
				</children>
			</topratingproducts>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Topratingproducts>
							<title>Topratingproducts Module</title>
							<sort_order>10</sort_order>
						</EM_Topratingproducts>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<topratingproducts>
					<file>topratingproducts.xml</file>
				</topratingproducts>
			</updates>
		</layout>
    </adminhtml>  
	--> 
    <global>
        <models>
            <topratingproducts>
                <class>EM_Topratingproducts_Model</class>
                <resourceModel>topratingproducts_mysql4</resourceModel>
            </topratingproducts>
            <topratingproducts_mysql4>
                <class>EM_Topratingproducts_Model_Mysql4</class>
                <entities>
                    <topratingproducts>
                        <table>topratingproducts</table>
                    </topratingproducts>
                </entities>
            </topratingproducts_mysql4>
        </models>
        <resources>
            <topratingproducts_setup>
                <setup>
                    <module>EM_Topratingproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </topratingproducts_setup>
            <topratingproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </topratingproducts_write>
            <topratingproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </topratingproducts_read>
        </resources>
        <blocks>
            <topratingproducts>
                <class>EM_Topratingproducts_Block</class>
            </topratingproducts>
        </blocks>
        <helpers>
            <topratingproducts>
                <class>EM_Topratingproducts_Helper</class>
            </topratingproducts>
        </helpers>
    </global>
</config>